.survey-img{
    width: 30%;
    height: 20%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  
  .survey-img-left{
    margin-right: 2%;
  }

  .radio-btn-survey{
    margin-right: 15%;
    margin-left: 22.5%
  }
  