.background{
    background-color: #DFF2FD;
}

.color-innen{
    background-color: white;
    margin-bottom: 30px;
}

.picture{
    margin-left: 70px;
    margin-bottom: 30px;
    width: 542px;
    height: 347px;
}

.margin{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
 
}
