
.color-background{
    background-color: grey;
}

.color-innen{
    background-color: white;
    
}

.picture{
    margin-left: 70px;
    margin-bottom: 30px;
    width: 542px;
    height: 347px;
}

.margin{
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    border-bottom-width: 20px;
    margin-bottom: 20px;
}