.background{
    background-color: #F8C8DC;
}

.color-innen{
    background-color: white;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    border-bottom-width: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    
}

.picture{
    margin-left: 70px;
    margin-bottom: 30px;
    width: 542px;
    height: 347px;
}

