.background{
    background-color: #ffe5ec;
}

.color-innen{
    background-color: white;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    border-bottom-width: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    
}

.picture{
    margin-left: 70px;
    margin-bottom: 30px;
    width: 542px;
    height: 347px;
}

.pictureSingleLeg{
    width: 20%;
    height: 20%;
}

.navbarStyle{
    background-color: gray;
  }
  
  .designHeader{
      margin-left: 1em;
  }
  
  .logo{
      width: 12%;
      height: 9%;
  }
  .float{
      margin-left: 75%;
  }
  
