.bodyMan{
    width: 85%;
    margin-left: 17%;
    margin-top: 5%;
}

.bodyWoman{
    width: 85%;
    margin-top: 9%;
    float:right;
    margin-right: 34%;
}
  .grid-container 
  {
       display: grid;
       grid-template-columns: auto auto auto;
       grid-template-rows: auto auto auto auto;
       grid-gap: 10px;
       padding: 10px;           
  }
  .body1{
      grid-row-start: 1;
      grid-row-end: 5;
      grid-column-start:1;
      grid-column-end: 2;
  }
  .body2{
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .button{
      background-color: white;
      border-color: white;
      color: white;
  }
  .button1{
      margin-top: 7em;
      background-color: #d6f5d6;
      border-color: #b6fdb1;
  }
  .button2{
      margin-top: 2.5em;
      background-color: #DFF2FD;
      border-color: #bde7ff;
  }
  .button3{
      margin-top: 3em;
      background-color: #E9E1FC;
      border-color: #cdbaf8;
  }
  .button4{
      background-color: #ffe5ec;
      border-color: #fac0cf ;
  }
  
  .button:hover{
      color: white;
  }
  .button1:hover{
      font-size: 102.5%;
      background-color: #b6fdb1 ;
  }

  .button2:hover{
    font-size: 102.5%;
    background-color: #bde7ff ;
}

.button3:hover{
    font-size: 102.5%;
    background-color: #cdbaf8 ;
}
.button4:hover{
    font-size: 102.5%;
    background-color: #fac0cf ;
}


.header{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button5{
    background-color: #D8F4EF;
    border-color: #a7f8e9;
}
.button5:hover{
    background-color:  #a7f8e9;
}
.button6{
    background-color: #fdfdb0;
    border-color: #f8f86b;
}
.button6:hover{
    background-color: #f8f86b;
}

