.picture{
    height: 300px;
    width: 340px;
}

.pictures {
    height: 250px;
    width: 440px;
}

.pictureHellTouch{
    height: 300px;
    width:  440px;
}

.pictureCrunch{
    height: 250px;
    width: 390px;
}