.picture{
    width: 45%;
    height: 35%;
}



.background {
    background-color: #d6f5d6;
}

.navbarStyle{
    background-color: gray;
  }
  
  .designHeader{
      margin-left: 1em;
  }
  
  .logo{
      width: 12%;
      height: 9%;
  }
  .float{
      margin-left: 75%;
  }
  
