.centration{display: flex;
    justify-content: center;
    align-items: center;
}

.body{
    width: 450px;
    margin-left: 100px;

}

.bodywoman{

    margin-top: 30px;
    width: 380px;
    float:right;
    margin-right: 200px;
}

.navbarStyle{
    background-color: gray;
  }
  
  .designHeader{
      margin-left: 1em;
  }
  
  .logo{
      width: 12%;
      height: 9%;
  }
  .float{
      margin-left: 75%;
  }
  .grid-container 
  {
       display: grid;
       grid-template-columns: auto auto;
       grid-template-rows: auto auto;
       grid-gap: 10px;
       padding: 10px;           
  }

