.centration{display: flex;
    justify-content: center;
    align-items: center;
}

.body{
    width: 450px;

}

.bodywoman{

    margin-top: 30px;
    width: 380px;
}

.floatRight
{
    float:right;
    margin-left:20px
}